# Python bytcode cache 
__pycache__/

# python virtual environment
.venv/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Test cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/


# Jupyter notebooks
app/notebook.ipynb

# Instance folder (e.g., SQLite DBs)
instance/